:root {
  --heading-xxl: calc(57rem / 16);
  --heading-xl: calc(45rem / 16);
  --heading-l: calc(36rem / 16);
  --heading-l-mobile: calc(32rem / 16);
  --heading-m: calc(28rem / 16);
  --heading-m-mobile: calc(28rem / 16);
  --heading-s: calc(28rem / 16);
  --heading-s-mobile: calc(24rem / 16);
  --heading-xs: calc(24rem / 16);
  --heading-xs-mobile: calc(20rem / 16);
  --heading-xxs: calc(20rem / 16);
  --heading-xxs-mobile: calc(16rem / 16);
  --body-text-l: calc(16rem / 16);
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --color-white: #ffffff;
  --color-sumi-100: #f1f1f4;
  --color-sumi-900: #1a1a1a;
  --space-unit: 0.5rem;
  --font-family-sans-serif: 'Noto Sans JP', sans-serif;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  background-color: var(--color-sumi-100);
  color: var(--color-sumi-900);
  font-family: var(--font-family-sans-serif);
  font-style: normal;
  font-display: swap;
  font-weight: 400 500;
  font-size: var(--body-text-l);
  font-weight: var(--font-weight-regular);
  line-height: 1.7;
  letter-spacing: 0.04em;
}
