---
import 'destyle.css';
import '@fontsource/noto-sans-jp/400.css';
import '@fontsource/noto-sans-jp/500.css';
import '../styles/common.css'
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YEND Profile</title>
  </head>
  <body>
    <div class="wrapper">
      <main class="main">
        <div class="container">
          <h1 class="page-title">YEND</h1>
          <div class="link-list">
            <a class="link" href="https://twitter.com/yend724">X（Twitter）</a>
            <a class="link" href="https://github.com/yend724">GitHub</a>
            <a class="link" href="https://zenn.dev/yend724">Zenn</a>
          </div>
        </div>
      </main>
    </div>
	</body>
</html>
