---
import Layout from '@/layouts/Layout.astro';
import LinkCard from '@/components/LinkCard.astro';
import PageTitle from '@/components/PageTitle.astro';
---

<Layout>
  <PageTitle>YEND</PageTitle>
  <div class="grid gap-y-8 py-8">
    <LinkCard label="X（旧Twitter）" href="https://x.com/yend724" />
    <LinkCard label="GitHub" href="https://github.com/yend724" />
    <LinkCard label="Zenn" href="https://zenn.dev/yend724" />
  </div>
</Layout>
