@tailwind base;
@tailwind components;
@tailwind utilities;

@layer component {
  .article-card-shadow {
    box-shadow: 0.5em 0.5em 1em var(--article-card-shadow-color-01),
      -0.5em -0.5em 1em var(--article-card-shadow-color-02);
  }
  .article-card-shadow:hover {
    box-shadow: inset 0.5em 0.5em 1em var(--article-card-shadow-color-01),
      inset -0.5em -0.5em 1em var(--article-card-shadow-color-02);
  }
  :where([data-color-mode='light']) .article-card-shadow {
    --article-card-shadow-color-01: #5c5c5c;
    --article-card-shadow-color-02: #ffffff;
  }
  :where([data-color-mode='dark']) .article-card-shadow {
    --article-card-shadow-color-01: #0f0f0f;
    --article-card-shadow-color-02: #3d3d3d;
  }
}
